<div id="reviews">

	<script src='//www.weddingwire.com/assets/vendor/widgets/my-reviews.js' type='application/javascript'></script>
	<div class='ww-reset ww-reviews-widget' id='ww-widget-reviews'>
	<div class='ww-reviews-placeholder'>
	Read all of our wedding reviews on our
	<a target="_blank" href="https://www.weddingwire.com/biz/velveteen-ensemble/2e1193e31b76256e.html">Velveteen Ensemble</a>
	Storefront at
	<a alt="WeddingWire" href="https://www.weddingwire.com"><img src="//www.weddingwire.com/assets/widgets/logo/WWlogo-83x19.gif" alt="Wwlogo 83x19" />
	</a></div>
	</div>
	<script>

	  WeddingWire.createReview({"vendorId":"2e1193e31b76256e", "id":"ww-widget-reviews" });

	</script>
	<style>
		#ww-widget-reviews, .ww-reviews-widget {
			min-width: auto;
			max-width: auto;
		}
	</style>
	<br><br>

	<script type="application/javascript" src="//www.weddingwire.com/assets/vendor/widgets/review-me-be458a4df16991a0093c203ac70f2072923e3b89f4a4f68adb0b6142bd97ada6.js"></script><div id="ww-review-me" class="ww-reset ww-review-me-widget"></div><script type="application/javascript">WeddingWire.ensureInit(function() {WeddingWire.reviewMeInit({"divId":"ww-review-me", "vendor_id":"2e1193e31b76256e","buttonColor": "#ffffff" }); });</script>
</div>

