<div id="reviews">
	<script src='//www.weddingwire.com/assets/vendor/widgets/my-reviews.js' type='application/javascript'></script>
	<div class='ww-reset ww-reviews-widget' id='ww-widget-reviews'>
	<div class='ww-reviews-placeholder'>
	Read all of our wedding reviews on our
	<a target="_blank" href="https://www.weddingwire.com/biz/velveteen-ensemble/2e1193e31b76256e.html">Velveteen Ensemble</a>
	Storefront at
	<a alt="WeddingWire" href="https://www.weddingwire.com"><img src="//www.weddingwire.com/assets/widgets/logo/WWlogo-83x19.gif" alt="Wwlogo 83x19" />
	</a></div>
	</div>
	<script>

	  WeddingWire.createReview({"vendorId":"2e1193e31b76256e", "id":"ww-widget-reviews" });

	</script>
	<style>
		#ww-widget-reviews, .ww-reviews-widget {
			min-width: auto;
			max-width: auto;
		}
	</style>
</div>

