/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
}
/* line 16, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .title {
  width: 100%;
  padding: 50px 0;
  padding-top: 0;
}
/* line 20, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .title img {
  height: 25px;
  width: auto;
  margin: 15px 20px;
}
/* line 26, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .background {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}
/* line 32, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .background .row a {
  margin: 0 auto;
}
/* line 36, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .img {
  height: 200px;
  width: auto;
  display: inline;
}
/* line 42, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .img1 {
  height: 250px;
  margin-left: 50px;
}
/* line 46, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .img2 {
  margin-right: 50px;
}
/* line 49, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about p {
  font-size: 18px;
  padding: 20px 10px;
  padding-right: 0;
  display: inline;
  width: 90%;
  margin: 0 auto;
}
/* line 57, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about #p1 {
  width: calc(90% - 200.41px);
  padding-left: 50px;
}
/* line 61, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about #p2 {
  width: calc(90% - 266.98px);
  padding-right: 50px;
}
/* line 66, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/about.scss */
#about .spacing {
  display: block;
  padding-top: 50px;
  height: auto;
  margin-bottom: 50px;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
#admin, .editpage {
  padding: 100px 50px;
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* line 11, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
#admin .background, .editpage .background {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* line 19, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.newsong .background {
  padding: 10px 40px;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* line 24, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.newsong a {
  color: red;
}

/* line 28, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage {
  padding: 50px;
}
/* line 30, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage .background {
  padding: 35px;
}
/* line 33, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage hr {
  margin: 30px auto;
}
/* line 36, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage h3, .editpage h5 {
  margin: 20px auto;
  margin-top: 0;
  text-align: center;
}
/* line 41, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage p {
  text-align: left;
  margin: 20px;
}
/* line 44, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage p strong {
  margin: 10px;
}
/* line 48, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form {
  width: 400px;
  text-align: right;
  margin: 10px auto;
}
/* line 52, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form textarea {
  height: 100px;
  font-size: 13px;
}
/* line 56, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form textarea, .editpage form input {
  width: 300px;
  margin: 10px;
  padding: 10px;
}
/* line 61, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form .field {
  position: relative;
}
/* line 63, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form .field label {
  margin: 10px;
  position: absolute;
  top: 13px;
  left: 15px;
}
/* line 71, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form .actions {
  margin: 0 auto;
  text-align: center;
}
/* line 74, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage form .actions input {
  width: 200px;
}
/* line 80, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage .links {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
/* line 84, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editpage .links a {
  margin: 0 auto;
}

/* line 91, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
#aboutedit form textarea {
  height: 200px;
}
/* line 94, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
#aboutedit form .actions {
  margin: 20px;
}

/* line 99, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
#song_play {
  margin-top: 28px;
  margin-bottom: 20px;
}

/* line 103, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editmobileshow {
  display: none;
}

/* line 106, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.editmobileshow, .editmobilehide {
  width: 100%;
}

/* line 109, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.edit, .editmobilehide .edit, .editmobileshow .edit {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
/* line 113, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.edit a, .editmobilehide .edit a, .editmobileshow .edit a {
  color: #7bd221;
  font-weight: 900;
  font-size: 18px;
}

/* line 119, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
.vertical {
  width: 2px;
  background-color: black;
  height: 10px;
  display: inline-block;
}

@media only screen and (max-width: 932px) {
  /* line 126, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editmobilehide {
    display: none;
  }

  /* line 129, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editmobileshow {
    display: inline-block;
  }
  /* line 131, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editmobileshow .edit {
    width: 100%;
    text-align: center;
  }
  /* line 134, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editmobileshow .edit a {
    color: #7bd221;
    font-weight: 900;
    font-size: 18px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 143, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editpage {
    padding: 50px 10px;
  }
  /* line 145, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editpage .background {
    width: calc(100% - 20px);
    padding: 20px;
  }
  /* line 149, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editpage .background form label {
    width: 60px;
    overflow-wrap: break-word;
  }
  /* line 154, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/admin.scss */
  .editpage .background form textarea, .editpage .background form input {
    width: calc(100% - 100px);
  }
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
#contact {
  padding: 100px 50px;
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
/* line 12, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
#contact p, #contact h2 {
  width: 100%;
  margin: 10px auto;
  display: block;
}
/* line 17, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
#contact .background {
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 20, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
#contact .row {
  width: 100%;
  text-align: center;
}

/* line 25, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform {
  width: 500px;
  margin: 0 auto;
  max-width: 800px;
}
/* line 30, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform h2 {
  margin: 0 auto;
}
/* line 33, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform form {
  width: 325px;
  text-align: right;
  margin: 0 auto;
}
/* line 37, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform form label, .contactform form input {
  margin: 10px auto;
  display: inline-block;
}
/* line 41, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform form input.button {
  margin: 20px auto;
  display: block;
}
/* line 45, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/contacts.scss */
.contactform form .nickname {
  display: none;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
.row {
  text-align: center;
}

/* line 7, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
.stickyheader {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 12, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header {
  padding: 10px;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 20;
  text-align: left;
}
/* line 21, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .alert {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  border-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-bottom: 0;
  color: #7bd221;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 33, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #adminlinks {
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 37, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #adminlinks a {
  margin: 0 5px;
  font-size: 13px;
}
/* line 42, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header a {
  color: black;
}
/* line 45, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #sm1, #header #sm1 img {
  height: 20px;
  width: auto;
  position: fixed;
  top: 15px;
  right: 15px;
}
/* line 52, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #sm2, #header #sm2 img {
  height: 20px;
  width: auto;
  position: fixed;
  top: 15px;
  right: 55px;
}
/* line 59, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #sm3, #header #sm3 img {
  height: 20px;
  width: auto;
  position: fixed;
  top: 15px;
  right: 95px;
}
/* line 66, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #logo {
  height: 50px;
  width: auto;
  display: inline-block;
  margin-left: 20px;
}
/* line 72, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header a:hover {
  font-weight: 600;
}
/* line 75, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header #logo:hover {
  font-weight: 400;
}
/* line 78, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header ul {
  display: inline-block;
  position: relative;
  top: 20px;
  padding-left: 0;
}
/* line 83, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header ul li {
  display: inline-block;
  width: 80px;
  text-align: center;
  font-size: 15px;
  color: black;
}
/* line 91, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .dropdown {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  min-width: 30px;
  min-height: 25px;
}
/* line 98, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .dropdown img {
  height: 30px;
  cursor: pointer;
}
/* line 103, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}
/* line 112, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .dropdown-content a {
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 0 auto;
}
/* line 119, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#header .dropdown-content a:hover {
  background-color: #282828;
  font-weight: 400;
}

/* line 126, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home {
  margin-top: 0;
}
/* line 128, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 {
  height: 100%;
  position: relative;
}
/* line 131, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 ul {
  text-align: left;
  list-style-type: none;
  background-color: #171717;
  padding-left: 0;
  padding: 20px;
  width: 200px;
  height: 472.75px;
  display: inline-block;
  position: absolute;
  left: 0;
}
/* line 142, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 ul li {
  font-size: 20px;
  font-weight: 400;
  padding: 40.1px 10px;
  width: 100%;
  color: white;
}
/* line 148, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 ul li a {
  color: white;
  width: 100%;
}
/* line 152, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 ul li:hover, #home #home1 ul li .hovered {
  color: #7bd221;
}
/* line 157, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage {
  padding-left: 0;
  padding-right: 0;
}
/* line 160, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  margin: 0;
  width: calc(100% - 200px);
  height: 472.75px;
  position: absolute;
  right: 0;
}
/* line 171, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage .loopOne {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/miami.png");
}
/* line 174, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage .loopTwo {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/china.png");
}
/* line 177, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage .loopThree {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding.png");
  background-position: center 70%;
}
/* line 181, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home1 .fadeimage .loopFour {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/group2.png");
}
/* line 186, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 {
  margin-top: 472px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 192, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .row {
  text-align: center;
}
/* line 195, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .title {
  padding: 20px;
}
/* line 198, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .background {
  background-color: white;
  padding: 40px;
  margin: 0 5%;
}
/* line 203, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .hide2:nth-of-type(1) {
  display: none;
}
/* line 206, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .hide3:nth-of-type(1), #home #home2 .hide3:nth-of-type(2) {
  display: none;
}
/* line 209, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .hide4:nth-of-type(1), #home #home2 .hide4:nth-of-type(2), #home #home2 .hide4:nth-of-type(3) {
  display: none;
}
/* line 212, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 img {
  height: 25px;
  width: auto;
  margin: 40px 20px;
}
/* line 217, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 h2 {
  width: 300px;
  margin: 30px auto;
  display: block;
  height: 40px;
  text-align: center;
  font-size: 40px;
  color: black;
  text-shadow: none;
}
/* line 227, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 p {
  padding: 20px;
  font-size: 16px;
}
/* line 231, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home2 .img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 239, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#home #home3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  padding: 100px 0;
}

/* line 249, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
.hovered {
  background-color: rgba(0, 0, 0, 0.5);
  border: white 1px solid;
  color: white;
}

/* line 254, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer {
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: white;
}
/* line 263, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer h6 {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}
/* line 267, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer h6 a {
  margin: 0 auto;
}
/* line 271, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer p {
  margin-left: 15%;
  margin-bottom: 0;
}
/* line 275, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer p:first-child {
  margin-top: 2px;
  margin-bottom: -4px;
}
/* line 280, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer h5 {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 5px auto;
}
/* line 286, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/home.scss */
#footer #award {
  height: 40px;
  width: auto;
  float: right;
}
/* line 1, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
html, body {
  height: 100%;
}

/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
body, html {
  width: 100%;
  margin: 0;
}

/* line 10, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
  display: block;
}

/* line 16, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
h1 {
  margin: 0 auto;
  width: 100%;
  text-shadow: 1px 1px white;
  font-size: 80px;
  color: black;
}

/* line 23, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
p, h1, h2, h3, h4, h5, h6, a, li, label, input {
  font-family: 'Abel', sans-serif;
  text-decoration-line: none;
  text-decoration: none;
}

/* line 30, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.background {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}

/* line 37, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.height {
  min-height: calc(100% - 140px);
  margin-top: 80px;
}

/*.loader {*/
/*position: fixed;*/
/*left: 0px;*/
/*top: 0px;*/
/*width: 100%;*/
/*height: 100%;*/
/*z-index: 9999;*/
/*background: url('https://d1ogs9i1at6wo0.cloudfront.net/gif2.gif') 50% 50% no-repeat rgb(249,249,249);*/
/*background-size: 15%;*/
/*opacity: .97;*/
/*}*/
/* line 52, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
#trigger1 {
  height: 20px;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: -2;
}

/* line 59, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 69, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.no-gutters > [class^="col-"], .no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 75, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
a {
  text-decoration-line: none;
  color: rgba(0, 0, 0, 0.9);
}

/* line 79, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
a:hover {
  color: black;
  text-decoration-line: none;
  text-decoration: none;
}

/* line 84, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
hr {
  width: 70%;
  margin: 0 auto;
  border: 1px solid grey;
}

/* line 89, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/layout.scss */
.nickname {
  display: none;
}
/* line 1, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/privacy.scss */
#privacypolicy {
  text-align: center;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/privacy.scss */
#privacypolicy h2 {
  padding: 110px 0 50px 0;
  color: white;
  background-color: #171717;
}
/* line 9, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/privacy.scss */
#privacypolicy p, #privacypolicy li {
  margin: 20px;
  text-align: left;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews {
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 40px;
  text-align: center;
}
/* line 12, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews .padding {
  padding: 15px;
}
/* line 15, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews .background {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 21, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews #wwlogo {
  width: 90%;
}
/* line 24, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews #ww-widget-reviews {
  margin: 0 auto;
}
/* line 27, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews #ww-review-me {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
/* line 32, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews .award {
  width: auto;
  height: 150px;
  margin: 50px auto;
}
/* line 37, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews h4 {
  margin-top: 50px;
  padding: 10px;
}
/* line 41, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews form {
  text-align: right;
  margin: 0 auto;
}
/* line 44, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews form input.button {
  display: block;
  margin: 10px auto;
}
/* line 48, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews form label, #reviews form input {
  margin: 10px auto;
}
/* line 52, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/review.scss */
#reviews .awardrow {
  text-align: center;
}
/* line 8, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 10px;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
/* line 19, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs h1 {
  margin: 100px auto;
  width: 260px;
  text-align: center;
}
/* line 25, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 29, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table .widecol, #songs table audio {
  width: 250px;
}
/* line 32, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table .mobileshow {
  display: none;
}
/* line 35, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table th, #songs table td {
  width: 150px;
  text-align: center;
  padding: 2px;
}
/* line 40, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table td {
  border-bottom: 1px solid black;
}
/* line 43, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table thead {
  padding: 20px;
  padding-bottom: 0;
  width: 750px;
  display: block;
}
/* line 48, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table thead h3 {
  padding: 10px;
  border-bottom: 1px solid black;
  width: 70%;
  margin: 25px auto;
}
/* line 55, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs table tbody {
  display: block;
  padding: 20px;
}
/* line 60, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs {
  width: 750px;
  display: block;
  padding: 0;
}
/* line 64, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs h4, #songs #listsongs h5 {
  font-weight: 900;
}
/* line 67, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs h5 {
  padding-bottom: 20px;
}
/* line 70, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs th, #songs #listsongs td {
  width: 400px;
  padding: 10px;
}
/* line 74, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs tbody {
  height: 500px;
  overflow: scroll;
  width: auto;
  overflow-y: scroll;
}
/* line 79, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs tbody td {
  border-bottom: none;
}
/* line 82, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/songs.scss */
#songs #listsongs tbody tr:nth-child(odd) {
  background: #FFF;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/velveteenensemble/wedding2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 10px;
}
/* line 12, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media .title {
  width: 100%;
}
/* line 14, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media .title h2 {
  font-weight: 900;
  width: 100%;
  text-align: center;
}
/* line 19, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media .title a {
  margin: 20px auto;
}
/* line 22, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media .title img {
  height: 20px;
  width: auto;
  margin: 10px 20px 15px 20px;
}
/* line 28, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media .background {
  background-color: rgba(253, 253, 253, 0.95);
  margin: 10px;
  padding: 50px 20px;
  padding-top: 0;
}
/* line 34, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media #instafeed {
  text-align: center;
  padding: 0;
}
/* line 38, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/uploads.scss */
#media #instafeed .img {
  width: 25%;
  height: 100px;
  margin: 20px 20px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
/* line 6, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .background {
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 9, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues h1 {
  margin: 0 auto;
  width: 100%;
  text-shadow: none;
  font-size: 50px;
  weight: 900;
  position: absolute;
  z-index: 2;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px 0;
}
/* line 22, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues p {
  padding: 50px;
  font-size: 18px;
}
/* line 27, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 100px;
  margin-top: 0;
  position: relative;
}
/* line 35, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .placeholder {
  position: absolute;
  top: -130px;
  width: 100%;
}
/* line 40, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue hr {
  margin: 50px auto;
}
/* line 43, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .title {
  width: 100%;
}
/* line 46, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .title h2 {
  color: black;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}
/* line 54, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue p {
  padding-top: 0;
}
/* line 57, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .clients .eachclient {
  text-align: center;
  padding: 10px;
  margin: 20px auto 80px auto;
}
/* line 61, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .clients .eachclient img {
  height: 30px;
  width: auto;
}
/* line 70, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues .venue .video {
  width: 30%;
  height: auto;
  overflow: hidden;
  border: none;
  scrolling: no;
  frameborder: 0;
  margin: 0 auto;
}
/* line 80, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues #venue_1 {
  padding-top: 195px;
}
/* line 83, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/venues.scss */
#venues #venue_1, #venues #venue_3 {
  background-attachment: fixed;
}
@media only screen and (max-width: 992px) {
  /* line 3, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 {
    margin-top: 480px;
  }

  /* line 12, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media #instafeed .img {
    width: 150px;
    height: 100px;
    margin: 20px 10px;
  }

  /* line 19, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #reviews .award {
    height: 80px;
  }
}
@media only screen and (max-width: 932px) {
  /* line 25, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  .height {
    min-height: calc(100% - 140px);
  }

  /* line 28, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header {
    height: 80px;
    padding: 10px;
  }
  /* line 31, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header #logo {
    height: 50px;
  }
  /* line 34, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header ul {
    padding-left: 0;
    top: 15px;
  }
  /* line 37, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header ul li {
    width: 80px;
    font-size: 15px;
  }

  /* line 45, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 .fadeimage .img {
    height: 380px;
  }
  /* line 48, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul {
    height: 380px;
  }
  /* line 50, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul li {
    font-size: 18px;
    padding: 30.1px 10px;
  }
  /* line 56, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 {
    margin-top: 420px;
  }
  /* line 58, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 h2 {
    font-size: 35px;
  }
  /* line 61, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .background {
    margin: 0;
  }

  /* line 68, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .title img {
    margin: 15px 3%;
  }
  /* line 72, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img {
    height: 500px;
    margin: 0 auto;
  }
  /* line 76, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img2 {
    height: 300px;
  }
  /* line 79, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about #p1, #about #p2 {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 86, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue {
    padding: 50px;
  }
  /* line 88, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue hr {
    margin: 30px auto;
  }
  /* line 91, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue p {
    font-size: 15px;
  }
  /* line 94, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .background {
    padding: 30px;
  }
  /* line 97, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .clients .eachclient {
    margin: 0 auto 50px auto;
  }
  /* line 99, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .clients .eachclient img {
    height: 20px;
  }

  /* line 106, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs #listsongs {
    width: 586px;
  }
  /* line 109, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table {
    width: auto;
  }
  /* line 111, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table thead {
    width: auto;
  }
  /* line 113, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table thead h3 {
    padding: 0;
    padding-bottom: 10px;
  }
  /* line 118, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table th, #songs table td {
    width: 100px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 126, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  .height {
    min-height: calc(100% - 120px);
    margin-top: 60px;
    background-attachment: initial;
  }

  /* line 131, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header {
    height: 60px;
    padding: 10px;
    text-align: left;
  }
  /* line 135, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header #logo {
    height: 40px;
  }
  /* line 139, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header ul li {
    width: 60px;
    font-size: 15px;
  }

  /* line 147, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul {
    width: 150px;
    height: 300px;
    padding: 20px;
    margin: 0;
  }
  /* line 152, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul li {
    font-size: 13px;
    padding: 24px 10px;
  }
  /* line 157, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 .fadeimage .img {
    width: calc(100% - 150px);
    height: 300px;
  }
  /* line 162, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 {
    margin-top: 320px;
  }
  /* line 164, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 h2 {
    font-size: 30px;
    width: auto;
  }
  /* line 168, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 p {
    font-size: 13px;
    padding: 10px;
    overflow-y: scroll;
  }
  /* line 173, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 img {
    margin: 35px 3%;
    height: 20px;
  }
  /* line 177, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .img {
    height: 120px;
  }
  /* line 180, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .background {
    padding: 30px;
  }
  /* line 183, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 191, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home3 {
    background-attachment: initial;
    padding: 50px 0;
  }

  /* line 196, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about {
    padding: 50px;
  }
  /* line 198, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .background {
    padding: 50px 20px;
  }
  /* line 201, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .title {
    padding-bottom: 0;
  }
  /* line 204, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about p {
    font-size: 15px;
  }
  /* line 207, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img {
    height: 300px;
    margin: 20px auto;
  }
  /* line 211, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img2 {
    height: 200px;
  }

  /* line 216, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues h1 {
    font-size: 40px;
    padding: 15px 0;
  }
  /* line 220, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues #venue_1, #venues #venue_3 {
    background-attachment: initial;
  }
  /* line 223, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues #venue_1 {
    padding-top: 174px;
  }
  /* line 227, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue h2 {
    font-size: 25px;
  }
  /* line 230, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .placeholder {
    top: -110px;
  }

  /* line 235, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media {
    padding-top: 10px;
  }
  /* line 237, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media .background {
    margin: 10px;
    margin-top: 50px;
  }

  /* line 242, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs {
    padding: 50px 10px;
  }
  /* line 244, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs .mobilehide {
    display: none;
  }
  /* line 248, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table th, #songs table td {
    width: 80px;
  }
  /* line 251, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs table audio {
    width: 200px;
  }
  /* line 255, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #songs #listsongs {
    width: 80%;
    margin-bottom: 100px;
  }

  /* line 260, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #reviews {
    padding: 50px 10px;
  }
  /* line 262, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #reviews .background {
    padding: 0;
  }

  /* line 266, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #contact {
    padding: 50px 10px;
  }

  /* line 270, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #footer p, #footer h5, #footer h6, #footer a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 278, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media #instafeed .img {
    width: 40%;
    height: 150px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 285, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #reviews .padding {
    padding-bottom: 100px;
  }
  /* line 288, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #reviews h4 {
    padding: 20px 10%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 295, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header ul {
    display: none;
  }
  /* line 298, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header .dropdown {
    display: inline-block;
    text-align: center;
  }
  /* line 302, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #header #adminlinks {
    display: none;
  }

  /* line 308, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul {
    width: 120px;
    height: 220px;
    padding: 15px;
    margin: 0;
  }
  /* line 313, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 ul li {
    font-size: 13px;
    padding: 15px 0;
  }
  /* line 318, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home1 .fadeimage .img {
    width: calc(100% - 120px);
    height: 220px;
  }
  /* line 323, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 {
    margin-top: 250px;
  }
  /* line 325, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .title {
    padding: 0 20px;
  }
  /* line 327, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .title h2 {
    font-size: 25px;
  }
  /* line 332, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .news {
    padding: 20px;
  }
  /* line 334, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .news h3 {
    font-size: 15px;
  }
  /* line 337, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .news p {
    padding: 0;
    font-size: 11px;
  }
  /* line 341, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home2 .news .img {
    height: 100px;
  }
  /* line 347, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home3 .contactform {
    width: 90%;
  }
  /* line 349, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home3 .contactform h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* line 353, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #home #home3 .contactform form {
    width: auto;
  }

  /* line 358, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about {
    padding: 10px;
    padding-top: 50px;
  }
  /* line 361, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .background {
    padding: 50px 20px;
  }
  /* line 364, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img {
    height: 200px;
  }
  /* line 367, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #about .img2 {
    height: 150px;
  }

  /* line 372, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues #venue_1 {
    padding-top: 149px;
  }
  /* line 375, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue {
    padding: 50px 20px;
  }
  /* line 377, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .video {
    width: 70%;
    margin: 20px auto;
  }
  /* line 381, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue .clients .eachclient {
    margin: 0 auto 10px auto;
  }
  /* line 384, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #venues .venue p {
    padding: 20px;
  }

  /* line 389, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media {
    padding: 50px 10px;
  }
  /* line 391, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media #instafeed .img {
    width: 40%;
    height: 120px;
  }
  /* line 395, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media .background {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
  }

  /* line 403, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #review .award {
    height: 60px;
    margin: 30px auto;
  }

  /* line 409, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #footer p, #footer h5, #footer h6, #footer a {
    font-size: 9px;
  }
  /* line 412, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #footer p {
    margin-top: 2px;
    margin-left: 15px;
  }
  /* line 416, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #footer p:first-child {
    margin-top: 6px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 423, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media #instafeed .img {
    width: 80%;
    height: 200px;
  }
}
@media only screen and (max-width: 300px) {
  /* line 431, /Users/hans-sebastianpalacios/Desktop/Sites/Velveteen/app/assets/stylesheets/zmobile.scss */
  #media #instafeed .img {
    width: 90%;
    height: 100px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

