<div class="row no-gutters" id="home">
	<ul>
		<li><a href="/venues">Weddings</a></li>
		<li><a href="/venues">Concerts/Tours</a></li>
		<li><a href="/venues">Recordings</a></li>
		<li><a href="/venues">Corporate Events</a></li>
	</ul>
</div>
<%= video_tag(['https://s3.amazonaws.com/velveteenensemble/velveteensmallvideo.mp4'], :autoplay => true, :loop => true, :id => "homevideo") %>