<div class="col-md-12 no-gutters" id="home1">
	<ul class="col-md-3 no-gutters">
		<a href="/venues" id="listone"><li>Weddings</li></a>
		<a href="/venues" id="listtwo"><li>Concerts/Tours</li></a>
		<a href="/venues" id="listthree"><li>Recordings</li></a>
		<a href="/venues" id="listfour"><li>Corporate Events</li></a>
	</ul>
	<div id="fadeimage" class="col-md-9">

		<div class="img" id="loopOne"></div>
		<div class="img" id="loopTwo"></div>
		<div class="img" id="loopThree"></div>
		<div class="img" id="loopFour"></div>
	</div>
</div>

<div class="col-md-12 no-gutters" id="home2">
	<div class="row no-gutters title">
		<div class="col-md-4">
			<a href="https://www.instagram.com/velveteenensemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blinsta.png")%></a>
			<a href="https://www.facebook.com/VelveteenEnsemble/" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blfb.png")%></a>
			<a href="https://www.youtube.com/watch?v=Rtennabdzlc&t=21s" target="_blank"><%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/blyt2.png")%></a>
		</div>
		<div class="col-md-4">
			<h2>Newsfeed</h2>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row no-gutters background">
		<div class="col-md-4">
			<div id="img1" class="img"></div>
		</div>
		<div class="col-md-8">
			<h3>Miami</h3>
			<p>Our ensemble is based in New York City and its members have received graduate degrees from the most prestigious Conservatories and are experts in performing and recording Classical, Pop and Jazz Genres. Our repertoire includes classical, Bollywood, Jewish, Broadway and Pop, though we can perform virtually any piece of any genre.  We cannot wait to be a part of your next event!</p>
		</div>
	</div>
	<hr>
	<div class="row no-gutters background">
		<div class="col-md-8">
			<h3>China</h3>
			<p>Our ensemble is based in New York City and its members have received graduate degrees from the most prestigious Conservatories and are experts in performing and recording Classical, Pop and Jazz Genres. Our repertoire includes classical, Bollywood, Jewish, Broadway and Pop, though we can perform virtually any piece of any genre.  We cannot wait to be a part of your next event!</p>
		</div>
		<div class="col-md-4">
			<div id="img2" class="img"></div>
		</div>
	</div>
	<hr>
	<div class="row no-gutters background">
		<div class="col-md-4">
			<div id="img3" class="img"></div>
		</div>
		<div class="col-md-8">
			<h3>Wedding</h3>
			<p>Our ensemble is based in New York City and its members have received graduate degrees from the most prestigious Conservatories and are experts in performing and recording Classical, Pop and Jazz Genres. Our repertoire includes classical, Bollywood, Jewish, Broadway and Pop, though we can perform virtually any piece of any genre.  We cannot wait to be a part of your next event!</p>
		</div>
	</div>
	<hr>
	<div class="row no-gutters background">
		<div class="col-md-8">
			<h3>Concert</h3>
			<p>Our ensemble is based in New York City and its members have received graduate degrees from the most prestigious Conservatories and are experts in performing and recording Classical, Pop and Jazz Genres. Our repertoire includes classical, Bollywood, Jewish, Broadway and Pop, though we can perform virtually any piece of any genre.  We cannot wait to be a part of your next event!</p>
		</div>
		<div class="col-md-4">
			<div id="img4" class="img"></div>
		</div>
	</div>
	
</div>



