<div class="container-fluid editpage height" id="newevent">
	<div class="background">
		<div class="row">
			<h3>Create New Event</h3>
		</div>
		<div class="row">
			<%= render 'form', event: @event %>
		</div>
		<div class="row">
			<div class="links">
				<%= link_to 'Back', admin_path %>
			</div>
		</div>
	</div>
</div>
