<div class="container-fluid editpage height">
	<div class="background">
			<div class="row">
				<h3>Editing Song</h3>
			</div>
			<div class="row">
				<%= render 'form', song: @song %>
			</div>
			<div class="row">
				<div class="links">
					<%= link_to 'Show', @song %> |
					<%= link_to 'Back', songs_path %>
				</div>
			</div>
	</div>
</div>