<div id="contact" class="col-md-12">

	
	<div class="background contactform">
		<h2>Contact us to request info or to inquire about availability</h2>
		<%= render 'form', contact: @contact %>
	</div>
</div>