<div class="container-fluid editpage height">
	<div class="background">
		<div class="row">
			<h3>Editing About</h3>
		</div>
		<div class="row">
			<%= render 'form', about: @about %>
		</div>
		<div class="row">
			<%= link_to 'Show', @about %> |
			<%= link_to 'Back', abouts_path %>
		</div>
	</div>
</div>
