<div id="about" class="row no-gutters">
  <div class="spacing ">
    <h1>About</h1>
  </div>
  <div id="aboutbox" class="col-md-7">
    <% @abouts.each do |about| %>
      <!-- <div id="about<%= about.id %>" class="background" > -->
        <p><%= about.bio %></p>
        <%= link_to 'Edit', edit_about_path(about) %>
      <!-- </div> -->
    <% end %>
    
  </div>
  <div class="col-md-5">
    <div id="pics">
      <div id="pic1" class="pics"></div>
      <div id="pic2" class="pics"></div>
      <div id="pic3" class="pics"></div>
      <div id="pic4" class="pics"></div>
      <div id="pic5" class="pics"></div>
      <div id="pic6" class="pics"></div>
      <div id="pic7" class="pics"></div>
      <div id="pic8" class="pics"></div>
    </div>
  </div>

</div>




