// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#about {
	background-image: url('https://s3.amazonaws.com/velveteenensemble/wedding.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-top: 100px;
	.title {
		width: 100%;
		padding: 50px 0;
		padding-top: 0;
		img {
			height: 25px;
			width: auto;
			margin: 15px 20px;
		}
	}
	.background {
		text-align: center;
		background-color: rgba(255,255,255,.95);
		padding: 50px;
		padding-bottom: 100px;
		margin-bottom: 50px;;
		.row a {
			margin: 0 auto;
		}
	}
	.img {
			height: 200px;
			width: auto;
			display: inline;
		}
	.img1 {
		height: 250px;
		margin-left: 50px;
	}
	.img2 {
		margin-right: 50px;
	}
	p {
		font-size: 18px;
		padding: 20px 10px;
		padding-right: 0;
		display: inline;
		width: 90%;
		margin: 0 auto;
	}
	#p1 {
		width: calc(90% - 200.41px);
		padding-left: 50px;
	}
	
	#p2 {
		width: calc(100% - 480px);
	}
	 img {
	 	margin-top: 20px;
	}
}