// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact {
	padding: 100px 50px;
	min-height: 100%;
	margin-top: 80px;
	// margin: 0 auto;
	background-image: url('https://s3.amazonaws.com/velveteenensemble/wedding.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
	text-align: center;
	p, h2 {
		width: 100%;
		margin: 10px auto;
		display: block;
	}
	.background {
		background-color: rgba(255,255,255,.9);
	}
	.row {
		width: 100%;
		text-align: center;
	}
}
.contactform {
		width: 500px;
		margin: 0 auto;
		max-width: 800px;

		h2 {
			margin: 0 auto;
		}
		form {
			width: 325px;
			text-align: right;
			margin: 0 auto;
			label, input {
				margin: 10px auto;
				display: inline-block;
			}
			input.button {
				margin: 20px auto;
				display: block;
			}
			.nickname {
				display: none;
			}
		}
	}
