// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    margin: 0;
    text-align: center;
}
h1 {
	font-family: 'Arizonia', cursive;
}
p, h2, h3 {
	font-family: 'Alegreya', serif;
}
// .loader {
//     position: fixed;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     z-index: 9999;
//     background: url('https://d1ogs9i1at6wo0.cloudfront.net/gif2.gif') 50% 50% no-repeat rgb(249,249,249);
//     background-size: 15%;
//     opacity: .97;
// }
#trigger1 {
	height: 20px;
	position: absolute;
	top: 50px;
	width: 100%;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
a {
	text-decoration-line: none;
	color: rgba(0,0,0,.9);
}
a:hover {
		color: rgba(0,0,0,1);
	}
.stickyheader {
  position: fixed;
  top: 0;
  width: 100%
}
#header {
	padding: 20px;
	height: 100px;
	margin: 50px auto;
	width: 900px;
	background-color: rgba(255,255,255,.8);
	position: absolute;
	z-index: 2;
	top: 0;
  left: 0;
  right: 0;
	#logo {
		height: 100px;
		width: auto;
		display: inline-block;
		margin-left: 5px;
	}
	a:hover {
		font-weight: 600;
	}
	ul {
		display: inline-block;
		// position: absolute;
		top: 70px;
		// left: 30%;
		li{
			display: inline-block;
			width: 80px;
			text-align: center;
			font-size: 28px;
			font-family: 'Italianno', cursive;
		}	
	}
	.dropdown {
	   position: absolute;
	   right: 50px;
	   top: 20px;
	   display: none;
		 img {
	    height: 30px;
	    cursor: pointer;
	    float: right;
	    position: absolute;
		}
	}
	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: -30px;
	    top: 30px;
	    background-color: rgba(0,0,0,1);
	    min-width: 130px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
	    z-index: 1;
	}
	.dropdown-content a {
	    color: white;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    font-family: 'Italianno', cursive;
	    font-size: 25px;
	}
	.dropdown-content a:hover {
		background-color: rgba(40,40,40,1);
		font-weight: 400;
	}
	.dropdown:hover .dropdown-content {
	    display: block;
	}
}
#home {
	height: 100%;
	ul {
		list-style-type: none;
		margin-top: 400px;
		li {
			margin: 50px;
			font-size: 25px;
			font-weight: 400;
			padding: 5px;
			font-family: 'Cinzel', serif;
			a {
				padding: 5px 10px;
				color: white;
				border: rgba(0,0,0,0) 1px solid;
			}
			a:hover, .hovered {
				background-color: rgba(0,0,0,.5);
				border: white 1px solid;
				color: white;
			}
		}
	}
}
.hovered {
	background-color: rgba(0,0,0,.5);
	border: white 1px solid;
	color: white;
}

#fadeimage {
   position:fixed; 
   top:0; 
   left:0; 
   width:100%; 
   height:100%;
   z-index: -1;
   img {
   	position:absolute; 
    top:0; 
    left:0; 
   	margin:0; 
   	min-width:100%; 

   	height:100%;
	}
}
