#landing {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
  -webkit-overflow-scrolling: touch;
	#firstsection {
		background-image: url(https://s3.amazonaws.com/velveteenensemble/Carnegie1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: local;
		#logorow {
			position: relative;
			display: block;
			// height: 100px;
			#logo {
				// position: absolute;
				// top: 50%;
		  //   left: 50%;
		  //   transform: translate(-50%, -50%);
		    width: 20%;
		    height: auto;
		    margin: 50px 15%;
		    float: left;
			}
		}
		#framecol {
			position: relative;
			// width: 100%;
			// height: 100%;
		}
		#framerow {
			text-align: center;
			padding: 0 50px;
			position: absolute;
			top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  width: 100%;

		}
		#iframebox {
			position: relative; 
			padding-top: 56.25%;
			// display: block;
			// margin: 50px;
			margin: 0 auto;
			width: 100%;
			iframe {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				
			}
		}
		form {
			border-radius: 20px;

			background-color: white;
			box-shadow: 2px 4px 16px 0px black;
			padding: 20px;
			width: 395px;
			height: auto;
			margin: 20px auto;
			// text-align: right;
			input, textarea {
				border: 1px solid lightgray;
				border-radius: 10px;
				padding: 0 10px;
				margin: 10px 0;
				}
			.labelbox {
				display: inline-block;
				height: 45px;
				width: 60px;
				margin-left: -5px;
				label.messagelabel {
					margin-bottom: 0;
					position: absolute;
					top: 10px;
					left: 54px;
				} 
			}
			input.button {
				margin: 0 auto;
			}
			.messagebox {
				position: relative;
			}
		}
		#reviewrow {
			min-height: 300px;
			margin-bottom: 50px;
			text-align: center;
			position: relative;
			.imgbox {
				height: 100%;
				img {
					margin: 20px;
				}
			}
			#reviewbox {
				background-color: rgba(250,250,250,.8);
				// box-shadow: 0px 0px 50px 30px rgba(250,250,250,.8);
				border-radius: 20px;
				margin: 0 auto;
				position: absolute;
				top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    padding: 10px;
		    width: 80%;
			}
			.reviews {
				text-align: center;
				position: relative;
				display: none;
				margin: 0 auto;
				padding-bottom: 20px;
				padding-top: 10px;
				img {
					height: 50px;
					display: inline-block;
					float: left;
				}
				p {
					font-weight: 900;
				}
				h5 {
					font-style: italic;
					// position: absolute;
					// right: 20px;
					// bottom: 0px;
					float: right;
					margin-right: 20px;
					font-weight: 900;
				}
			}
			.review1 {
				display: inline-block;
			}
		}
	}
	
	#secondsection {
		background-color: black;
		text-align: center;
		margin-top: -1px;
		padding: 60px 20px 20px 20px;
		position: relative;
		.round {
			border-radius: 50%;
			width: 150px;
			height: 150px;
			display: inline-block;
			background-color: white;
			position: relative;
			margin: 20px  auto;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: rgb(62,0,0);
			.tint {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.3);
				border-radius: 50%;
				p {
					font-weight: 900;
					font-size: 25px;
					color: white;
					position: absolute;
					top: 50%;
		    	left: 50%;
		    	transform: translate(-50%, -50%);
				}
			}
			
		}
		.weddings { 
			  background-image: url('https://d3ffc7oj6uo4uj.cloudfront.net/wedding4.png');
		}
		.recordings {
			  background-image: url('https://d3ffc7oj6uo4uj.cloudfront.net/recording2.png');
		}
		.corporate {
			  background-image: url('https://d3ffc7oj6uo4uj.cloudfront.net/wine3.jpg');
		}
		.concerts {
			  background-image: url('https://d3ffc7oj6uo4uj.cloudfront.net/PM9A1049.jpg');
		}
		.recordings, .concerts {
			margin-top: -20px;
		}
	}
	#thirdsection {
		padding: 100px;
		background-color: rgba(255,249,227,1);
		h3 {
			margin: 0 auto;
			width: 80%;
			color: rgb(40,40,40);
			font-weight: 900;
			line-height: 35px;
			font-size: 17px;
		}
	}
}

@media only screen and (max-width: 900px) {
#landing {
	#firstsection {
		#framerow {
			padding: 30px; 
		}
		form {
			width: 300px;
			.labelbox label.messagelabel {
				left: 6px;
			}
		}
	}
	#thirdsection h3 {
		font-size: 17px;
	}
}
};
@media only screen and (max-width: 768px) {
	#landing {

		#secondsection .round {
			width: 100px;
			height: 100px;
			.tint p {
				font-size: 15px;
			}
		}
		#thirdsection {
			h3 {
				font-size: 15px;
			}
		}
	}
};
@media only screen and (max-width: 650px) {
	#landing {
		#firstsection {
			form {
				width: 250px;
				textarea {
					width: calc(100% - 85px);
				}
			}
		}
	}
}
@media only screen and (max-width: 576px) {
 #landing {
 	#firstsection {
 		#logo {
 			margin: 30px;
 		}
 		#framerow {
			text-align: center;
			padding: 40px;
			position: relative;
			top: auto;
		  left: auto;
		  transform: none;
		  width: 100%;
		}
		form {
			width: 400px;
		}
 	}
 	#secondsection {
 		padding-top: 95px;
 		.roundcolumn {
 			width: 30%;
 			margin: 0 auto;
 		}
 		.recordings, .concerts {
			margin-top: -50px;
		}
 	}
 	#thirdsection {
 		padding: 50px 20px;
 	}
 }
};


@media only screen and (max-width: 440px) {
 #landing {
 	#firstsection {
 		#logorow {
 			// height: 100px;
 			#logo {
 				// max-height: 80%;
 				// width: auto;
 			}
 		}
 		form {
 			width: 250px;
 			h3 {
 				font-size: 18px;
 			}
 			label, input, textarea {
 				font-size: 12px;
 			}
 			.labelbox label.messagelabel {
 				top: 10px;
 				left: 16px;
 			}
 		}
 	}
 	#secondsection .roundcolumn{
 		width: auto;
 	}
 	#thirdsection {
 		h3 {
 			font-size: 15px;
 		}
 	}
 }
};
@media only screen and (max-width: 414px) {
	#landing #firstsection form {
		width: 80%;
		.labelbox label.messagelabel {
			left: 5%;
		}
	}
};
@media only screen and (max-width: 330px) {
	#landing #firstsection form .labelbox label.messagelabel {
		left: 2%;

	}
};
@media only screen and (max-width: 310px) {
	#landing #firstsection form {
		height: 380px;
		width: 250px;
		label, input, .labelbox {
			display: block;
			margin: 0 auto;
			text-align: center;
			label.messagelabel {
				position: relative;
			}
		}
	}
};


