// Place all the styles related to the Review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reviews {
	background-image: url('https://s3.amazonaws.com/velveteenensemble/recording.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 10%;
	margin-top: 80px;
	padding-top: 100px;
	text-align: center;
	.padding {
		padding: 50px;
	}
	#ww-widget-reviews {
		margin: 0 auto;
	}
	#ww-review-me {
		width: 400px;
		margin: 0 auto;
		padding: 10px;
	}
	.award {
		width: auto;
		height: 200px;
		margin: 50px auto;
	}
}


