// Place all the styles related to the Review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reviews {
	background-image: url('https://s3.amazonaws.com/velveteenensemble/wedding2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 100px 40px;
	text-align: center;
	.padding {
		padding: 15px;
	}
	.background {
		// margin: 30px auto;
		padding: 30px;
		background-color: rgba(255,255,255,.95);

	}
	#wwlogo {
		width: 90%;
	}
	#ww-widget-reviews {
		margin: 0 auto;
	}
	#ww-review-me {
		width: 90%;
		margin: 0 auto;
		padding: 10px;
	}
	.award {
		width: auto;
		height: 150px;
		margin: 50px auto;
	}
	h4 {
		margin-top: 50px;
		padding: 10px;
	}
	form {
		text-align: right;
		margin: 0 auto;
		input.button {
			display: block;
			margin: 10px auto;
		}
		label, input {
			margin: 10px auto;
		}
	}
	.awardrow {
		text-align: center;
	}
}


