// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#songs {
	text-align: center;
  background-image: url('https://s3.amazonaws.com/velveteenensemble/wedding2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 100px 10px;
	margin-top: 80px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	h1 {
		margin: 100px auto;
		width: 260px;
		text-align: center;
	}
	
	table {
		margin: 0 auto;
		padding: 20px;
		background-color: rgba(255,255,255,.95);
		.widecol, audio {
			width: 250px;
		}
		.mobileshow {
			display: none;
		}
		th, td {
			width: 150px;
			text-align: center;
			padding: 2px;
		}
		td {
			border-bottom: 1px solid black;
		}
		thead {
			padding: 20px;
			padding-bottom: 0;
			width: 750px;
			display: block;
			h3 {
				padding: 10px;
				border-bottom: 1px solid black;
				width: 70%;
				margin: 25px auto;
			}
		}
		tbody{
			display: block;			
			padding: 20px;
		}
	}
	#listsongs {
		width: 750px;
		display: block;
		padding: 0;
		h4, h5 {
			font-weight: 900;
		}
		h5 {
			padding-bottom: 20px;
		}
		th, td {
			width: 400px;
			padding: 10px;
		}
		tbody{		
			height: 500px;
			overflow: scroll; 
			width: auto;
			overflow-y: scroll;
			td {
				border-bottom: none;
			}
tr:nth-child(odd) {
	background: #FFF
}
		}
	}

}