// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#media {
	text-align: center;
  background-image: url('https://s3.amazonaws.com/velveteenensemble/musicsheet.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	// padding: 50px;
	margin-top: 80px;
	min-height: 1000px;
	padding-top: 50px;
	.title {
		width: 100%;
		padding: 50px;
		h1 {
			font-size: 45px;
		}
		img {
			height: 25px;
			width: auto;
			margin: 15px 20px;
		}
	}
	.center {
		margin: 20px auto;
	}
	.background {
		background-color: rgba(253,253,253,.9);
		margin: 50px;
	}
	#instafeed {
		text-align: center;
		// margin: 50px;
		.img {
			width: 150px;
			height: 100px;
			margin: 20px 10px;
			padding: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
		}
	}
}