// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#media {
	text-align: center;
  background-image: url('https://d3ffc7oj6uo4uj.cloudfront.net/wedding.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 50px 10px;
	.title {
		width: 100%;
		h2 {
			font-weight: 900;
			width: 100%;
			text-align: center;
		}
		a {
			margin: 20px auto;
		}
		img {
			height: 20px;
			width: auto;
			margin: 10px 20px 15px 20px;
		}
	}
	.background {
		background-color: rgba(253,253,253,.95);
		margin: 10px ;
		padding: 50px 20px;
		padding-top: 0;
	}
	// #instafeed {
	// 	text-align: center;
	// 	padding: 10px;
	// 	margin-top: -20px;
	// 	.instabox {
	// 		padding: 20px 10px;
	// 		// padding-bottom: 0;
	// 		margin: 0 auto;
	// 		height: auto;
	// 		.eachinsta{
	// 			box-shadow: 0px 5px 20px 0px rgba(0,0,0,.2);
	// 			background-color: white;
	// 			height: 100%;
	// 			width: calc(100% - 20px);
	// 			margin: 20px auto;
	// 			padding: 10px;
	// 			padding-bottom: 0;
	// 			display: inline-block;
	// 			margin-bottom: -20px;
	// 			.instaimages {
	// 				position: relative;
	// 				padding-bottom: 0;
	// 				.img {
	// 					max-height: 150px;
	// 					max-width: 90%;

	// 					margin: 10px auto;
	// 				}
	// 				.videotag{
	// 					display: inline-block !important;
	// 					width: 30%;
	// 					height: auto;
	// 					max-height: 80%;
	// 					position: absolute;
	// 					top: 50%;
	// 	 				left: 50%;
	// 	 				transform: translate(-50%, -50%);
	// 	 				z-index: 2;
	// 				}
				
	// 			}
	// 			.p {
	// 				text-align: center;
	// 				width: 90%;
	// 				max-height: 30px;
	// 				overflow-y: hidden;
	// 				margin: 0 auto;
	// 				padding: 10px 0;
	// 				p {
	// 					margin: 0 auto;
	// 					width: 20px;
	// 					display: inline;
	// 					em {
	// 						width: 80%;
							
	// 					}
	// 				}
	// 			}
	// 			.p2 {
	// 				font-size: 10px;
	// 				font-weight: 600;
	// 				padding-bottom: 0;
	// 			}
	// 		}
	// 	}
		
	// }
	iframe {
		width:100%;
		
	}
	.youtube {
		padding: 5px;
		iframe {
			height: auto;
			margin: 5px;
			box-shadow: 0px 5px 20px 0px rgba(0,0,0,.5);
		}
	}
}