// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#media {
	text-align: center;
  background-image: url('https://s3.amazonaws.com/velveteenensemble/wedding2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 50px 10px;
	.title {
		width: 100%;
		h2 {
			font-weight: 900;
			width: 100%;
			text-align: center;
		}
		a {
			margin: 20px auto;
		}
		img {
			height: 20px;
			width: auto;
			margin: 10px 20px 15px 20px;
		}
	}
	.background {
		background-color: rgba(253,253,253,.95);
		margin: 10px ;
		padding: 50px 20px;
		padding-top: 0;
	}
	#instafeed {
		text-align: center;
		// margin: 50px;
		padding: 0;
		.img {
			width: 25%;
			height: 100px;
			margin: 20px 20px;
			padding: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
		}
	}
}