// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venues {
	top: -100px;
	position: absolute;
	h1 {
		margin: 0 auto;
		width: 100%;
		text-shadow: 1px 1px white;
		position: absolute;
		top: 350px;
		font-size: 80px;
	}
	.row {
		text-align: center;
	}
	.venue {
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 100px;
		margin-top: 0;
		 h2 {
			padding: 20px;
			margin: 0 auto;
		}
		.background {
			background-color: rgba(255,255,255,.8);
		}
		p {
			padding: 50px;
			padding-top: 0;
		}
	}
	.fixed {
		background-attachment: fixed;
		height: 350px;
		position: relative;
	}
	
	#venue_1 {
		.spacing {
			height: 450px;
		}
	}
	// #venue_2, #venue_4 {
	// 	background-attachment: fixed;
	// 	// height: 750px;
	// 	position: relative;
	// 	top: -100px;
	// }
}
