// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venues {
	// top: -100px;
	.spacing {
		display: block;
		padding-top: 200px;
		text-align: center;
	}
	h1 {
		margin: 0 auto;
		width: 100%;
		text-shadow: 1px 1px white;
		font-size: 80px;
		weight: 900;
	}
	p {
		padding: 50px;
		font-size: 18px; 
	}
	
	.venue {
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 100px;
		margin-top: 0;
		position: relative;
		padding-top: 220px;
		hr {
			margin-bottom: 50px;
		}
		.title {
			width: 100%;
			// background-color: rgba(255,255,255,1);
			padding: 50px;
			// position: absolute;
			// top: 0;
			// left: 0;
			// right: 0;

			h2 {
			 	color: black;
			 	width: 500px;
				margin: 0 auto;
				text-align: center;
				font-weight: 900;
			}
		}
		p {
			// padding: 50px;
			padding-top: 0;
		}
		.clients .eachclient{
			text-align: center;
			padding: 10px;
			margin: 20px auto 80px auto;
			img {
			height: 30px;
			width: auto;
			
			// padding: 10px;

		}
		}
		
		.video {
			width: 280px;
			height: 157.5px;
			overflow: hidden;
			border: none;
			scrolling: no;
			frameborder: 0;
			margin: 0 auto;
		}
	}
	
	// #venue_1 {
	// 	.spacing {
	// 		display: block;
	// 		padding-top: 150px;
	// 	}
	// }
	#venue_2, #venue_4 {
    background-attachment: fixed;
	}
	#venue_1, #venue_3 {
    // background-image: none;
	}
}
