// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venues {
	.background {
		background-color: rgba(255,255,255,.95);
	}
	h1 {
		margin: 0 auto;
		width: 100%;
		text-shadow: none;
		// color: white;
		font-size: 50px;
		weight: 900;
		position: absolute;
		z-index: 2;
		text-align: center;
		background-color: rgba(255,255,255,.95);
		padding: 20px 0;
	}
	p {
		padding: 50px;
		font-size: 18px; 
	}
	
	.venue {
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 150px 100px;
		margin-top: 0;
		position: relative;
		.placeholder {
			position: absolute;
			top: -130px;
			width: 100%;
		}
		hr {
			margin: 50px auto;
		}
		.title {
			width: 100%;

			h2 {
			 	color: black;
			 	width: 500px;
				margin: 0 auto;
				text-align: center;
				font-weight: 900;
			}
		}
		p {
			padding-top: 0;
		}
		.clients .eachclient{
			// margin changed with !important in venues index if video1 = nil
			text-align: center;
			padding: 10px;
			margin: 20px auto 80px auto;
			img {
				height: 20px;
				width: auto;
			}
		}
		
		.video {
			// width !important css in venue index if videos are missing
			width: 30%;
			height: auto;
			overflow: hidden;
			border: none;
			scrolling: no;
			frameborder: 0;
			margin: 0 auto;
		}
	}
	#venue_1 {
		padding-top: 195px;
	}
	#venue_1, #venue_3 {
    background-attachment: fixed;
	}
	#venue_4 .venuevideos {
		padding-bottom: 50px;
	}
}
