@media only screen and (max-width: 932px) {
	.editmobilehide {
		display: none;
	}
	.editmobileshow {
		display: inline-block;
		.edit {
			width: 100%;
			text-align: center;
			a {
				color: rgba(123,210,33,1);
				font-weight: 900;
				font-size: 18px;
			}
		}
	}
}


@media only screen and (max-width: 600px) {
	.admin {
		#admin1 {
			.hide600 {
				display: none;
			}
		}
		.copyemails #copyme {
			width: 60%;
			margin: 20px auto;
		}
	}
}


@media only screen and (max-width: 500px) {
	.admin {
		padding: 0;
		#admin1 {
			.background {
				padding: 20px;
			}
			.emaillist {
				width: auto;
				margin: 90px 10px 0 10px;
			}
			.copyemails {
				width: auto;
				margin: 25px 10px 50px 10px;
			}
		}
	}
}
@media only screen and (max-width: 350px) {
	.admin {
		#admin1 {
			padding: 0;
			.linkcol {
				display: none;
			}
			.copyemails {
				#copyme {
					width: 90%;
				}
				.clipboard-btn {
					height: auto;
				}
			}
		}
	}
}
