@media only screen and (max-width: 992px) {

	#home2 {
		margin-top: 480px;
	}
	#media .title {
		// padding: 0;
		img {
			margin: 15px 5%;
		}
	}
	#media #instafeed .img {
		width: 150px;
		height: 100px;
		margin: 20px 10px;
	}
	#reviews {
		.award{
			height: 80px;
		}
	}
}
@media only screen and (max-width: 932px) {

	#header {
		height: 80px;
		padding: 10px;
		#logo {
			height: 50px;
		}
		ul {
			padding-left: 0;
			top: 15px;
			li {
				width: 80px;
				font-size: 15px;
			}
		}
	}
	#home1 {
		.fadeimage .img {
			height: 380px;
		}
		ul {
			height: 380px;
			li {
				font-size: 18px;
				padding: 30.1px 10px;
			}
		}
	}
	#home2 {
		margin-top: 420px;
		h2 {
			font-size: 35px;
		}
		.background {
			margin: 0;
		}
	}
	#about {
		.title {
			img {
				margin: 15px 3%;
			}
		}
	}
	#venues {
		h1 {
			font-size: 50px;
			padding: 20px 0;
		}
		#venue_1 .spacing {
			height: 150px;
		}
		.venue {
			padding: 50px;
			hr {
				margin: 30px auto;
			}
			p {
				font-size: 15px;
			}
			.background {
				padding: 30px;
			}
			.clients .eachclient {
				margin: 0 auto 50px auto;
				img {
					height: 20px;
				}
			}
		}
	}
	#songs {
		#listsongs {
			width: 586px;
		}
		table{
			width: auto;
			thead {
				width: auto;
				h3 {
					padding: 0;
					padding-bottom: 10px;
				}
			}
			th, td {
				width: 100px;
				font-size: 12px;
			}
		}
	}
}
@media only screen and (max-width: 700px) {
	#header {
		height: 60px;
		padding: 10px;
		text-align: left;
		#logo {
			height: 40px;
		}
		ul {
			li {
				width: 60px;
				font-size: 15px;
			}
		}
	}	
	#home1 {
		ul {
			width: 150px;
			height: 300px;
			padding: 20px;
			margin: 0;
			li {
				font-size: 13px;
				padding: 24px 10px;
			}
		}
		.fadeimage .img {
			width: calc(100% - 150px);
			height: 300px;
		}
	}
	#home2 {
		margin-top: 320px;
		h2 {
			font-size: 30px;
			width: auto;
		}
		p {
			font-size: 13px;
			padding: 10px;
			overflow-y: scroll;
		}
		img {
			margin: 35px 3%;
			height: 20px;
		}
		.img {
			height: 120px;
		}
		.background {
			padding: 30px;
		}
		h3 {
			font-size: 18px;
			font-weight: 600;
			margin: 5px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	#home3 {
		background-attachment: initial;
	}
	
	#about, #venues, #media, #songs, #contact, #reviews {
		margin-top: 60px;
		background-attachment: initial;
	}
	#venues {
		h1 {
			top: 60px;
		}
		#venue_1, #venue_3 {
			background-attachment: initial;
		}
	}
	#media {
		padding-top: 10px;
		.background {
			margin: 10px;
			margin-top: 50px;
		}
	}
	#songs {
		padding: 10px;
		.mobilehide {
			display: none;
		}
		table {
			th, td {
				width: 80px;
			}
			audio {
				width: 200px;
			}
		}
	}
	#reviews {
		padding: 50px 10px;
		.background {
			padding: 0;
		}
	}
	#footer {
		p, h5, h6, a {
			font-size: 11px;
		}
		#award {
			height: 40px;
		}
	}
}
@media only screen and (max-width: 500px) {
	#header {
		ul {
			display: none;
		}
		.dropdown {
			display: inline-block;
			text-align: center;
			.dropdown-content a {
				font-size: 13px;
				margin: 0 auto;
			}
		}
	}	
	#home1 {
		ul {
			width: 120px;
			height: 220px;
			padding: 15px;
			margin: 0;
			li {
				font-size: 13px;
				padding: 15px 0;
			}
		}
		.fadeimage .img {
			width: calc(100% - 120px);
			height: 220px;
		}
	}
	#home2 {
		margin-top: 250px;
		.title {
			padding: 0 20px;
			h2 {
				font-size: 25px;
			}
		}

		.news {
			padding: 20px;
			h3 {
				font-size: 15px;
			}
			p {
				padding: 0;
				font-size: 11px;
			}
			.img {
				height: 100px;
			}
		}
		
	}
	#home3 .contactform {
		// background-size: 100vh;
		width: 90%;
		h2 {
			font-size: 20px;
			margin-bottom: 20px;
		}
		form {
			width: auto;
		}
	}
	#venues {
		.venue {
			padding: 20px;
			.video {
				width: 70%;
				margin: 20px auto;
			}
			.clients .eachclient {
				margin: 0 auto 10px auto;
			}
			p {
				padding: 20px;
			}
		}
	}
	#media {
		padding: 0;
		.background {
			background-color: rgba(255,255,255,.6);
		}
		#instafeed .img {
			width: 40%;
			height: 120px;
		}
		.background {
			margin: 0;
			margin-top: 10px;
			padding: 0;
		}
	}
	#review {
		.award {
			height: 60px;
			margin: 30px auto;
		}
	}
	#footer {
		p, h5, h6, a {
			font-size: 9px;
		}
		p {
			margin-top: 2px;
			margin-left: 15px;
		}
		p:first-child {
    	margin-top: 6px;
		}
		#award {
			float: right;
			margin-right: -30px;
		}
	}
}




