@media only screen and (max-width: 992px) {

	#home .home2 {
		margin-top: 480px;
	}
	#reviews {
		.title {
			width: 335.16px;
			h2 {
				font-size: 30px;
			}
		}
		.padding {
			padding: 15px;
		}
		.background {
			padding: 30px;
		}
		.award{
			height: 80px;
		}
	}
	#contact {
		h2 {
		margin: 10px auto;
		}
	}
	.contactform {
		width: 500px;
	}
}





@media only screen and (max-width: 932px) {
	// #header {
	// 	height: 80px;
	// 	padding: 10px;
	// 	#logo {
	// 		height: 50px;
	// 	}
	// 	ul {
	// 		padding-left: 0;
	// 		top: 15px;
	// 		li {
	// 			width: 80px;
	// 			font-size: 15px;
	// 		}
	// 	}
	// }
	#home{
		.home1 {
			.fadeimage .img {
				height: 380px;
			}
			ul {
				height: 380px;
				li {
					font-size: 18px;
					padding: 30.1px 10px;
				}
			}
		}
		.home2 {
			margin-top: 420px;
			h2 {
				font-size: 35px;
			}
			.background {
				margin: 0;
			}
		}
	}
	#about {
		.title {
			img {
				margin: 15px 3%;
			}
		}
		.img {
			height: 500px;
			margin: 0 auto;
		}
		.img2 {
			height: 300px;
		}
		#p1, #p2 {
			width: 90%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	#venues {
		.venue {
			padding: 50px;
			hr {
				margin: 30px auto;
			}
			p {
				font-size: 15px;
			}
			.background {
				padding: 30px;
				padding-bottom: 0;
			}
			.clients .eachclient {
				margin: 0 auto 50px auto;
				img {
					height: 20px;
				}
			}
		}
	}
	#songs {
		#listsongs {
			width: 586px;
		}
		table{
			width: auto;
			thead {
				width: auto;
				h3 {
					padding: 0;
					padding-bottom: 10px;
				}
			}
			th, td {
				width: 100px;
				font-size: 12px;
			}
		}
	}
}





@media only screen and (max-width: 768px) {
	#media {
			#instafeed {
			padding: 40px;
			margin-top: -50px;
			.instabox {
				
				.eachinsta {
					padding: 40px;
					padding-bottom: 0;
					.instaimages .img {
						max-height: none;
						// max-width: 90%;
					}
					.p {
						width: 80%;
						max-height: none;
						overflow-y: initial;
					}
				}
			}
		}
		.youtube {
			iframe {
				height: 300px;
			}
		}
	}
}





@media only screen and (max-width: 700px) {
	.height {
		min-height: calc(100% - 110px);
		margin-top: 60px;
		background-attachment: initial;
	}
	.admin .links {
		top: 60px;
	}
	#header {
		height: 60px;
		padding: 10px;
		text-align: left;
		#logo {
			height: 40px;
		}
		ul {
			li {
				width: 60px;
				font-size: 15px;
			}
		}
	}	
	#home {
		.home1 {
			ul {
				width: 150px;
				height: 300px;
				padding: 20px;
				margin: 0;
				li {
					font-size: 13px;
					padding: 24px 10px;
				}
			}
			.fadeimage .img {
				width: calc(100% - 150px);
				height: 300px;
			}
		}
		.home2 {
			margin-top: 320px;
			h2 {
				font-size: 30px;
				width: auto;
			}
			p {
				font-size: 13px;
				padding: 10px;
				overflow-y: scroll;
			}
			img {
				margin: 35px 3%;
				height: 20px;
			}
			.img {
				height: 120px;
			}
			.background {
				padding: 30px;
			}
			h3 {
				font-size: 18px;
				font-weight: 600;
				margin: 5px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.home3 {
			background-attachment: initial;
			padding: 50px 0;
		}
	}
	#about {
		padding: 50px;
		.background {
			padding: 50px 20px;
		}
		.title {
			padding-bottom: 0;
		}
		p {
			font-size: 15px;
		}
		.img {
			height: 300px;
			margin: 20px auto;
		}
		.img2 {
			height: 200px;
		}
	}
	#venues {
		h1 {
			font-size: 40px;
			padding: 15px 0;
		}
		#venue_1, #venue_3 {
			background-attachment: initial;
		}
		#venue_1 {
			padding-top: 174px;
		}
		.venue {
			h2 {
				font-size: 25px;
			}
			.placeholder {
				top: -110px;
			}
		}
	}
	#songs {
		padding: 50px 10px;
		.mobilehide {
			display: none;
		}
		table {
			th, td {
				width: 80px;
			}
			audio {
				width: 200px;
			}
		}
		#listsongs {
			width: 80%;
			margin-bottom: 100px; 
		}
	}
	#reviews {
		padding: 50px 10px;
		.background {
			padding: 0;
		}
	}
	#contact {
		padding: 50px 10px;
	}
	#footer {
		height: 50px;
		p, h5,p a {
			font-size: 11px;
		}
	}
}





@media only screen and (max-width: 600px) {
	.contactform {
		width: 80%;
	}
	.admin .background{
		width: 80%;
	}
	#media {
		.youtube {
			iframe {
				height: 250px;
			}
		}
	}
}





@media only screen and (max-width: 575px) {
	#reviews {
		.padding {
			padding-bottom: 100px;
		}
		h4 {
			padding: 20px 10%;
		}
	}
	#contact{
		.contactform {
			width: calc(100% - 20px);
		}
	}
}





@media only screen and (max-width: 500px) {
	#header {
		ul {
			display: none;
		}
		.dropdown {
			display: inline-block;
			text-align: center;
		}
		#adminlinks {
			display: none;
		}
	}	
	#home {
		.home1 {
			ul {
				width: 120px;
				height: 220px;
				padding: 15px;
				margin: 0;
				li {
					font-size: 13px;
					padding: 15px 0;
				}
			}
			.fadeimage .img {
				width: calc(100% - 120px);
				height: 220px;
			}
		}
		.home2 {
			margin-top: 250px;
			.title {
				padding: 0 20px;
				h2 {
					font-size: 25px;
				}
			}

			.news {
				padding: 20px;
				h3 {
					font-size: 15px;
				}
				p {
					padding: 0;
					font-size: 11px;
				}
				.img {
					height: 100px;
				}
			}
			
		}
		
	}
	.contactform {
			padding: 35px;
			h2 {
				font-size: 20px;
				margin-bottom: 20px;
			}
			form {
				width: auto;
				.messagebox {
					padding-right: 0;
					textarea {
						width: calc(100% - 100px);
					}
				}
			}
			
		}
	#about {
		padding: 10px;
		padding-top: 50px;
		.background {
			padding: 50px 20px;
		}
		.img {
			height: 200px;
		}
		.img2 {
			height: 150px;
		}
	}
	#venues {
		#venue_1 {
			padding-top: 149px;
		}
		.venue {
			padding: 50px 20px;
			.background {
				padding-bottom: 30px;
			}
			.video {
				width: 70% !important;
				margin: 20px auto;
			}
			.clients .eachclient {
				margin: 0 auto 10px auto;
			}
			p {
				padding: 20px;
			}
		}
	}
	#media {
		#instafeed {
			padding: 10px;
			.instabox .eachinsta {
				padding: 20px;
				margin-bottom: -20px;
			}
		}
		.youtube {
			iframe {
				height: 200px;
			}
		}
	}
	#review {
		.award {
			height: 60px;
			margin: 30px auto;
		}
	}
	#contact  {
		padding: 50px 0;
		.contactform {
			padding: 20px 50px;
		}
		label {
			margin-right: 0;
		}
	}
	#footer {
		p, h5,p a {
			font-size: 9px;
		}
	}
}





@media only screen and (max-width: 410px) {
	#home {
		.home1 {
			ul {
				width: 110px;
				height: 170px;
				padding: 15px;
				margin: 0;
				li {
					font-size: 11px;
					padding: 10px 0;
				}
			}
			.fadeimage .img {
				width: calc(100% - 110px);
				height: 170px;
			}
		}
		.home2 {
			margin-top: 200px;
			.title {
				h2 {
					font-size: 20px;
				}
				img {
					margin: 25px 3%;
					height: 15px;
				}
			}

			.news {
				padding: 10px;
				h3 {
					font-size: 13px;
				}
				p {
					padding: 0;
					font-size: 10px;
				}
				.img {
					height: 80px;
				}
			}
		}
	}
	#contact, #home {
		.new_contact {
			text-align: center;
			width: 80%;
			input {
				max-width: 200px;
				width: 100%;
			}
		}
		.contactform {
			text-align: center;
			label, input, select, .messagebox .messagelabel {
				margin: 5px auto;
				display: block;
				text-align: center;
			}
			label, .messagebox .messagelabel, input.button {
				display: block;
				position: initial;
				margin-top: 10px;
			}
			
		}
	}
	#media {
		#instafeed {
			padding: 5px;
			.instabox .eachinsta {
				padding: 10px;
				margin-bottom: -20px;
			}
		}
		.youtube {
			iframe {
				height: 150px;
			}
		}
	}
	#songs {
		table {
			th, td {
				border-bottom: none;
				width: 50%;
			}
			audio {
				width: 160px;
			}
			.hide410 {
				display: none;
			}
			.show410 {
				display: inline-block !important;
			}
		}

	}
	#reviews {
		.title {
			width: 100%;
			padding-right: 70.28px;
			a, img {
				height: 20px;
			}
			h2 {
				font-size: 25px;
				margin-left: 0;
			}
		}
		h5 {
			width: 90%;
		}
		hr {
				margin-bottom: 0;
			}
	}
	.contactform {
			form {
				.messagebox {
					textarea {
						width: calc(100%);
					}
				}
			}
		}
}






@media only screen and (max-width: 350px) {
	#footer {
		height: 120px;
		.col-xs-4  {
			width: 100% !important;
			margin: 5px auto;
			p, h5,p a {
				margin: 1px auto;
			}
		}
	}
}





@media only screen and (max-width: 300px) {
	#media {
		.youtube {
			iframe {
				height: 100px;
			}
		}
	}
	#reviews .title {
		padding-right: 0;
	}
	#review, #contact, #home {
		.new_contact {
			input {
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width: 300px) {
	#footer {
		.col-xs-4  {
			width: 100% !important;
		}
	}
}





// experimental min for venue videos

@media only screen and (min-width: 1155px) {
	#venues .venue {
		.video {
		height: 200px;
		}
	}
	#venue_4 iframe .venue .video {
		height: 300px;
	}
}
@media only screen and (min-width: 1500px) {
	#venues .venue {
		.video {
		height: 250px;
		}
	}
	#venue_4 iframe .venue .video {
		height: 350px;
	}
}
@media only screen and (min-width: 2000px) {
	#venues .venue {
		.video {
		height: 300px;
		}
	}
	#venue_4 iframe .venue .video {
		height: 400px;
	}
}
@media only screen and (min-width: 2500px) {
	#venues .venue {
		.video {
		height: 350px;
		}
	}
	#venue_4 iframe .venue .video {
		height: 450px;
	}
}
@media only screen and (min-width: 3000px) {
	#venues .venue {
		.video {
		height: 400px;
		}
	}
	#venue_4 iframe .venue .video {
		height: 500px;
	}
}





// admin pages

@media only screen and (max-width: 550px) {
	.editpage {
		padding: 50px 10px;
		.background {
			width: calc(100% - 20px);
			padding: 20px;
			form {
				label {
					width:60px;
					overflow-wrap: break-word;

				}
				textarea, input {
					width: calc(100% - 100px)
				}
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	#email {
		width: calc(100% - 40px);
		margin: 0 auto;
		form input#email_email {
			width: 90%;
		}
	}
}





