
<div id="media" class="col-md-12">
	<div class="row">
		<h1>Instagram</h1>

			<script>
  			var feed = new Instafeed({
					target: "instafeed",
	        get: 'user',
	        userId: '<%= ENV['USER_ID'] %>',
	        accessToken: '<%= ENV['ACCESS_TOKEN'] %>',
	        clientId: '<%= ENV['CLIENT_ID'] %>',
	        sortBy: 'most-recent',
	        limit: 20,
	        resolution: 'standard_resolution',
	        template: '<img src="{{image}}"/>',
	        links: true,
        mock: false,
        useHttp: false
	    	});
			  feed.run();
			</script>



    <div id="instafeed"></div>

	</div>
</div>