<!-- # <#% if @first_visit %> -->
<% if @homepage %>
  <div class="new-visitor-show" id="email">
	  	<div class="close">X</div>
	  	<div class=" no-gutters background">
	  		<div class="row">
	  			<%= image_tag image_url('https://d3ffc7oj6uo4uj.cloudfront.net/whlogolines.png'), :id => "logo" %>
	  		</div>
	  		<div class="row">
	  			<%= render '/emails/form', email: @email %>
	  		</div>
			</div>
	</div>
	<% end %>
<!-- <#% end %> -->
