<div class="row no-gutters" id="footer">
	<div class="col-md-4">
		<div class="row"><p>917.733.4650</p></div>
		<div class="row"><p>marcel@velveteenensemble.com</p></div>
		<div class="row"></div>
	</div>
	<div class="col-md-4">
		<h5 class="row">Copyright © Velveteen Ensemble </h5>
		<h6 class="row"><a href="/privacy">Privact Policy</a></h6>
	</div>
	<div class="col-md-4">
		<%=image_tag image_url("https://s3.amazonaws.com/velveteenensemble/award.png"), :id => "award"%>
	</div>
</div>