<div class="row no-gutters" >
	<div id="header">
		<a href="/" id="logo">
			<%= image_tag image_url('https://s3.amazonaws.com/velveteenensemble/whlogolines.png') %>
		</a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/venues">Venues</a></li>
			<li><a href="/uploads">Media</a></li>
			<li><a href="/samples">Samples</a></li>
			<li><a href="/Reviews">Reviews</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>