<div class="row no-gutters" >
	<div id="trigger1"></div>
	<div id="header">
		<a href="/" id="logo" >
			<%= image_tag image_url('https://s3.amazonaws.com/velveteenensemble/whlogolines.png'), :id => "logo" %>
		</a>
		<ul>
			<li><a href="/abouts">About</a></li>
			<li><a href="/venues">Venues</a></li>
			<li><a href="/uploads">Media</a></li>
			<li><a href="/songs">Songs</a></li>
			<li><a href="/review">Reviews</a></li>
			<li><a href="/contacts">Contact</a></li>
		</ul>
		<div class="dropdown">
			<%= image_tag image_url("https://s3.amazonaws.com/velveteenensemble/hamburgermenu.png") %>
			<div class="dropdown-content">
			  <a href="/about">About</a>
			  <a href="/venues">Venues</a>
			  <a href="/uploads">Media</a>
				<a href="/songs">Samples</a>
				<a href="/Reviews">Reviews</a>
				<a href="/contact">Contact</a>
			</div>
		</div>
	</div>
</div>
<style>
	<% if @homepage %>
		#header {
			position: static;
		}
		<% else %>
		#header {
			height: 80px;
			padding: 10px;
		}
		#header #logo {
			height: 50px;
		}
		#header ul {
			padding-left: 0;
			top: 20px;
		}
			#header ul li {
				width: 80px;
				font-size: 15px;
			}
		}
	<% end %>
</style>
